<h1>Welcome To the Recipes</h1>
{%if request.user.is_authenticated %}
You are logged in as {{ request.user.username }}
{%endif%}
{%if not request.user.is_authenticated %}
Please Login <br>
To Login <a href="login/">Click Here</a> <p></p>
Or Signup <a href="signup/">Click Here</a>
{%endif%}

<ul>
    {% for recipes in data %}
        <li>
            <a href="/recipe/{{recipes.id}}">{{recipes.title}}</a>
        </li>
    {% endfor %}
    To add an Author <a href="addauthor/">Click Here</a> <br>
    To add a Recipe <a href="addrecipe/">Click Here</a> <br>
    {%if request.user.is_authenticated %}
    To Logout <a href="logout/">Click Here</a>
    {%endif%}
</ul>
